<app-menu></app-menu>
<div class="contact-hero">
  <div class="contact-hero-content">
    <h1>
      <span class="contact-title">Contactez-moi</span>
      <span
        class="contact-subtitle"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="800"
        >Discutons de vos projets</span
      >
    </h1>
    <p
      class="contact-desc"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="800"
    >
      Vous voulez parler d’un projet ? D’une collaboration ? Ou même d’un
      conseil ?<br />
      Je serais ravi d’échanger avec vous !<br />
      Je vous réponds en moins de 24h, sauf si vous m’écrivez un samedi soir 😅
    </p>
  </div>
  <div
    class="contact-hero-svg"
    data-aos="fade-up"
    data-aos-delay="650"
    data-aos-duration="800"
  >
    <img src="svg/carre-noneon.svg" class="neon-svg" alt="" />
  </div>
</div>
<app-animate-band></app-animate-band>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
