<app-menu></app-menu>
<div class="contact-hero">
  <div class="contact-hero-content">
    <h2>
      <span class="contact-title">Contactez-moi</span>
      <span class="contact-subtitle">Discutons de vos projets</span>
    </h2>
    <p class="contact-desc">
      Vous voulez parler d’un projet ? D’une collaboration ? Ou même d’un
      conseil ?<br />
      Je serais ravi d’échanger avec vous !<br />
      Je vous réponds en moins de 24h, sauf si vous m’écrivez un samedi soir 😅
    </p>
  </div>
  <div class="contact-hero-svg">
    <img src="svg/carre-blck.svg" alt="" />
  </div>
</div>
<app-animate-band></app-animate-band>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
