<app-menu></app-menu>
<div class="projects-hero">
  <div class="projects-hero-content">
    <h2 class="projects-title">Mes projets</h2>
    <p class="projects-desc">
      In varius gravida rhoncus. Etiam gravida purus non velit mollis
      imperdiet.<br />
      Praesent suscipit ante at tincidunt varius.
    </p>
  </div>
  <div class="projects-hero-svg">
    <img src="svg/carre.svg" alt="" />
  </div>
</div>
<app-animate-band></app-animate-band>
<div class="projects-list">
  <app-project-card
    *ngFor="let project of projects"
    [project]="project"
  ></app-project-card>
</div>

<app-footer></app-footer>
