.projects-hero {
  background: var(--color-dark);
  color: #fff;
  margin-top: 0.8em;
  padding: 2.2rem 1.2rem 2rem 1.2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0;
  position: relative;
  cursor: default;

  .projects-hero-svg {
    display: none;
  }
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typewriter-projects {
  from {
    width: 0;
  }
  to {
    width: 9.2ch; // adapte à la longueur de "Mes projets"
  }
}

@keyframes hideCursor {
  to {
    border-right-color: transparent;
  }
}

.projects-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid var(--color-primary, #c6ff1a);
  animation: typewriter-projects 1.8s steps(11) 1 both,
    blinkCursor 0.5s step-end 3.6, hideCursor 0.01s linear 1.81s forwards;
  color: var(--color-primary, #c6ff1a);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.projects-desc {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  color: #fff;
  line-height: 1.5;
  margin-top: 1.2rem;
}

.projects-list {
  padding: 40px 10px 20px;
}

@media (min-width: 375px) {
  .projects-hero {
    padding: 2.5rem 1.5rem 2.2rem 1.5rem;

    .projects-title {
      font-size: 2rem;
    }

    .projects-desc {
      font-size: 1.05rem;
    }
  }

  .projects-list {
    padding: 40px 24px 20px;
  }
}

@media (min-width: 414px) {
  .projects-hero {
    .projects-title {
      font-size: 2.2rem;
    }

    .projects-desc {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 768px) {
  .projects-hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    .projects-hero-content {
      flex: 1 1 0;
      max-width: 316px;
    }

    .projects-hero-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      flex-shrink: 0;
    }
  }

  .projects-hero-svg img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .projects-list {
    padding: 3rem 2.5rem 2em;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .projects-hero {
    height: 400px;
    padding: 3rem 2rem 3rem 2rem;
    gap: 0;
    margin-top: 1rem;

    .projects-hero-content {
      max-width: 350px;

      .projects-title {
        font-size: 1.7rem;
      }

      .projects-desc {
        font-size: 1.1rem;
      }
    }

    .projects-hero-svg {
      width: 350px;
      height: 350px;
      margin-right: 200px;
      padding-right: 2rem;
    }
  }

  .projects-list {
    padding: 2rem 2rem 2em;
    margin-right: 240px;
  }
}

@media (min-width: 1280px) {
  .projects-hero {
    height: 532px;
    padding: 3.5rem 0 3rem 3rem;
    margin-top: 1rem;
    .projects-hero-content {
      flex: 1 1 0;
      max-width: 400px;
      .projects-title {
        font-size: 2.4rem;
      }

      .projects-desc {
        font-size: 1.5rem;
      }
    }

    .projects-hero-svg {
      width: 420px;
      height: 420px;
      margin-right: 240px;
      padding-right: 3rem;
    }
  }

  .projects-list {
    padding: 3rem 3rem 2em;
    margin-right: 240px;
  }
}
