<app-menu></app-menu>
<div *ngIf="project">
  <div class="project-hero">
    <div class="project-hero-content">
      <h2
        class="project-title"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="800"
      >
        {{ project.title }}
      </h2>
      <p
        class="project-context"
        data-aos="fade-right"
        data-aos-delay="400"
        data-aos-duration="800"
      >
        {{ project.context }}
      </p>
      <div
        class="project-link-btns"
        *ngIf="project?.site || project?.github"
        data-aos="fade-right"
        data-aos-delay="500"
        data-aos-duration="800"
      >
        <a
          *ngIf="project.site; else githubBtn"
          class="project-btn-redirect"
          [href]="project.site"
          target="_blank"
          rel="noopener"
        >
          <span class="arrow">
            <img src="/svg/arrow.svg" alt="flèche" />
          </span>
          <span>Visiter le site</span>
        </a>
        <ng-template #githubBtn>
          <a
            *ngIf="project.github"
            class="project-btn-redirect"
            [href]="project.github"
            target="_blank"
            rel="noopener"
          >
            <span class="arrow">
              <img src="/svg/arrow.svg" alt="flèche" />
            </span>
            <span>Voir le projet</span>
          </a>
        </ng-template>
      </div>
    </div>
    <div
      class="project-hero-svg"
      data-aos="fade-up"
      data-aos-delay="650"
      data-aos-duration="800"
    >
      <img src="svg/carre-blck-noneom.svg" class="neon-svg" alt="" />
    </div>
  </div>
  <app-animate-band></app-animate-band>
  <div class="project-main-layout">
    <h3 class="challenge-title">Challenge</h3>
    <ul class="challenge-list">
      <li *ngFor="let c of project.challenge">
        <img src="/svg/puce.svg" alt="puce" class="challenge-puce" />
        <span>{{ c }}</span>
      </li>
    </ul>
    <div
      class="project-rectangles"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      <img
        [src]="project.image"
        [alt]="project.title"
        class="project-photo"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="800"
      />
    </div>
    <div class="solution-section" *ngIf="project.solution">
      <h3 class="solution-title">Solution</h3>
      <p class="solution-content">
        {{ project.solution }}
      </p>
    </div>
  </div>
</div>
<div class="tools-section" *ngIf="project">
  <div class="tools-content">
    <h3 class="tools-title">Les outils utilisés</h3>
    <div class="tools-subtitle">Languages et logiciels</div>
  </div>
  <div class="tools-grid">
    <app-stacks-card
      *ngFor="let outil of project.outils"
      [stack]="outil"
    ></app-stacks-card>
  </div>
</div>
<swiper-container
  *ngIf="project"
  class="project-images-carousel"
  slides-per-view="1"
  slides-per-group="1"
  space-between="20"
  pagination="true"
>
  <swiper-slide *ngFor="let img of project.images">
    <div class="img-container">
      <img [src]="img" alt="Image projet" style="width: 100%" />
    </div>
  </swiper-slide>
</swiper-container>

<div class="project-images-grid" *ngIf="project">
  <img class="img-landscape" [src]="project.images[0]" />
  <img class="img-square" [src]="project.images[1]" />
  <img class="img-square" [src]="project.images[2]" />
  <img class="img-landscape" [src]="project.images[3]" />
</div>

<app-footer></app-footer>
