.projects-list {
  padding: 40px 10px 20px;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: start;
    cursor: default;
  }
}

@media (min-width: 375px) {
  .projects-list {
    padding: 40px 12px 20px;
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 390px) {
  .projects-list {
    h2 {
      font-size: 1.7rem;
    }
  }
}
@media (min-width: 414px) {
  .projects-list {
    padding: 40px 14px 20px;
    h2 {
      font-size: 1.7rem;
    }
  }
}
@media (min-width: 768px) {
  .projects-list {
    padding: 40px 20px 20px;
    h2 {
      font-size: 1.7rem;
    }
  }
}
@media (min-width: 1024px) {
  .projects-list {
    padding: 3rem 2rem 2em;
    margin-right: 240px;
    h2 {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1280px) {
  .projects-list {
    padding: 3rem 3rem 2em;
    margin-right: 240px;
    h2 {
      font-size: 2rem;
    }
  }
}
@media (min-width: 1440px) {
  .projects-list {
    padding: 3rem 4rem 2em;
    h2 {
      font-size: 2.5rem;
    }
  }
}
