.project-card {
  background: #fff;
  border: 1px solid var(--color-dark);
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  max-width: 370px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.project-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1.1/1;
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }

  .project-label {
    position: absolute;
    top: 14px;
    right: 14px;
    background: var(--color-primary);
    color: var(--color-dark);
    font-family: "Bebas Neue", sans-serif;
    font-size: 0.95rem;
    padding: 0.18em 1.1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    box-shadow: none;
    z-index: 1;
    text-transform: uppercase;
  }
}

.project-content {
  padding: 1.3em 1.2em 1.2em 1.2em;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  border-bottom: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  background: #fff;
  margin: 0 4px 4px 0;
  box-sizing: border-box;
}

.project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  display: block;
  margin-bottom: 0.1em;
  letter-spacing: 0.01em;
}

.project-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--color-lightdark);
  display: block;
  margin-bottom: 0.7em;
  margin-top: -0.2em;
  letter-spacing: 0.01em;
}

.project-btn {
  display: flex;
  align-items: stretch;
  background: #fff;
  color: #111;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  border: 1.5px solid var(--color-lightdark);
  width: 220px;

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    padding: 0.6em 1em;
  }

  .arrow img {
    width: 1.2em;
    height: 1.2em;
    display: block;
    filter: invert(1);
  }

  .btn-label {
    margin: 0 auto;
    padding: 0.6em 1.2em;
    background: #fff;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--color-dark);
  }
}

@media (min-width: 375px) {
  .project-card {
    max-width: 375px;
    .project-label {
      font-size: 1.2rem;
      padding: 0.3em 1.1em;
    }
  }
  .project-title {
    font-size: 1.7rem;
  }
  .project-subtitle {
    font-size: 1.2rem;
  }
  .project-content {
    padding: 1.4em 1.3em 1.3em 1.3em;
  }
  .project-btn {
    width: 240px;

    .btn-label {
      font-size: 1.2rem;
      padding: 0.6em 1.3em;
    }
  }
}

@media (min-width: 414px) {
  .project-card {
    max-width: 414px;
    .project-label {
      font-size: 1.3rem;
    }
  }
  .project-title {
    font-size: 1.8rem;
  }
  .project-subtitle {
    font-size: 1.3rem;
  }
  .project-content {
    padding: 1.5em 1.4em 1.4em 1.4em;
  }
}

@media (min-width: 768px) {
  .project-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-height: 300px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 2.5em;
    cursor: pointer;
  }

  .project-image {
    width: 45%;
    min-width: 260px;
    aspect-ratio: unset;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .project-label {
      top: 18px;
      left: 18px;
      right: unset;
      font-size: 1.5rem;
      padding: 0.22em 1.2em;
    }
  }

  .project-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    justify-content: space-around;
    padding: 1.9em 1.8em;
    margin: 6px 6px 0 0;
    border-top: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
  }

  .project-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
  }

  .project-subtitle {
    font-size: 1.7rem;
    // margin-bottom: 1.2em;
  }

  .project-btn {
    width: 290px;
    align-self: flex-start;
    .arrow img {
      width: 1.85em;
      height: 1.85em;
    }

    .arrow {
      padding: 0 1.5em;
    }

    .btn-label {
      font-size: 1.6rem;
      padding: 0.6em 0.7em;
    }
  }
}

@media (min-width: 1024px) {
  .project-title {
    font-size: 2.2rem;
  }

  .project-subtitle {
    font-size: 1.5rem;
  }
  .project-card:hover .project-image::after {
    opacity: 1;
  }
  .project-image {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, #baff00 0%, transparent 100%);
      opacity: 0;
      transition: opacity 0.4s;
      z-index: 2;
      pointer-events: none;
    }
    img {
      position: relative;
      z-index: 1;
    }
  }
  .project-btn {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    height: 70px;
    width: 300px;
    .arrow,
    .arrow-hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px; // carré fixe
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.4s cubic-bezier(0.77, 0, 0.18, 1), opacity 0.4s;
      pointer-events: none;
    }
    .arrow {
      background: var(--color-dark);
      z-index: 1;
      img {
        filter: invert(1);
        width: 2em;
        height: 2em;
      }
    }
    .arrow-hover {
      background: var(--color-primary);
      z-index: 1;
      transform: translateX(-100%);
      img {
        width: 2em;
        height: 2em;
      }
    }
    .btn-label {
      border-left: 1.5px solid var(--color-dark);

      position: relative;
      z-index: 2;
      margin-left: 70px; // même largeur que le carré
      padding: 0.6em 1.2em;
      background: #fff;
      color: #111;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      height: 100%;
      transition: background 0.4s, color 0.4s;
    }
  }
  .project-card:hover .project-btn {
    .arrow {
      transform: translateX(100%);
    }
    .arrow-hover {
      transform: translateX(0);
      opacity: 1;
    }
    .btn-label {
      background: #fff;
      color: #111;
    }
  }
}

@media (min-width: 1280px) {
  .project-card {
    max-height: 350px;
  }

  .project-image {
    min-width: 350px;
    width: 40%;
  }

  .project-label {
    font-size: 1.6rem;
  }

  .project-content {
    padding: 2.1em 1em 2.1em 2.3em;
    width: 60%;
  }

  .project-title {
    font-size: 2.6rem;
    margin-top: 5px;
  }

  .project-subtitle {
    font-size: 1.8rem;
  }

  .project-btn {
    min-height: 68.4px;
  }
}
@media (min-width: 1440px) {
  .project-card {
    max-height: 360px;
  }

  .project-image {
    min-width: 250px;
  }

  .project-label {
    font-size: 1.8rem;
  }

  .project-content {
    padding: 2.1em 1em 2.1em 2.3em;
  }

  .project-title {
    font-size: 2.8rem;
    margin-top: 5px;
  }

  .project-subtitle {
    font-size: 1.9rem;
  }

  .project-btn {
    min-height: 68.4px;
  }
}
