<form
  #contactForm="ngForm"
  class="contact-form"
  (submit)="sendEmail($event, contactForm)"
>
  <label>NOM *</label>
  <input type="text" name="name" [(ngModel)]="formData.name" required />

  <label>PRÉNOM *</label>
  <input type="text" name="surname" [(ngModel)]="formData.surname" required />

  <label>TÉLÉPHONE *</label>
  <input type="tel" name="phone" [(ngModel)]="formData.phone" required />

  <label>EMAIL *</label>
  <input type="email" name="email" [(ngModel)]="formData.email" required />

  <label>MESSAGE *</label>
  <input type="text" name="msg" [(ngModel)]="formData.msg" required />
  <button type="submit" class="contact-btn">
    <div class="contact-btn-arrow-container">
      <span class="contact-btn-arrow">
        <img src="/svg/arrow.svg" alt="flèche" />
      </span>
      <span class="contact-btn-arrow-hover">
        <img src="/svg/arrow.svg" alt="flèche" />
      </span>
    </div>
    <span class="contact-txt">Envoyer mon message</span>
  </button>
</form>
<div
  class="form-notification"
  *ngIf="notification"
  [ngClass]="[
    notification.type,
    notification.active ? 'active' : '',
    notification.leaving ? 'leaving' : ''
  ]"
>
  {{ notification.message }}
</div>
