<footer class="footer">
  <nav class="footer-nav">
    <div>
      <span class="footer-title">NAVIGATION</span>
      <ul>
        <li>
          <a
            *ngIf="isDesktopNav; else accueilLink"
            (click)="goToBand('')"
            style="cursor: pointer"
            [class.active]="currentRoute === '/'"
            >Accueil</a
          >
          <ng-template #accueilLink>
            <a [routerLink]="['/']" [class.active]="currentRoute === '/'"
              >Accueil</a
            >
          </ng-template>
        </li>
        <li>
          <a
            *ngIf="isDesktopNav; else aboutLink"
            (click)="goToBand('about')"
            style="cursor: pointer"
            [class.active]="currentRoute === '/about'"
            >Mon Parcours</a
          >
          <ng-template #aboutLink>
            <a
              [routerLink]="['/about']"
              [class.active]="currentRoute === '/about'"
              >Mon Parcours</a
            >
          </ng-template>
        </li>
        <li>
          <a
            *ngIf="isDesktopNav; else projectsLink"
            (click)="goToBand('project')"
            style="cursor: pointer"
            [class.active]="currentRoute === '/project'"
            >Mes Projets</a
          >
          <ng-template #projectsLink>
            <a
              [routerLink]="['/project']"
              [class.active]="currentRoute === '/project'"
              >Mes Projets</a
            >
          </ng-template>
        </li>
        <li>
          <a
            *ngIf="isDesktopNav; else contactLink"
            (click)="goToBand('contact')"
            style="cursor: pointer"
            [class.active]="currentRoute === '/contact'"
            >Me Contacter</a
          >
          <ng-template #contactLink>
            <a
              [routerLink]="['/contact']"
              [class.active]="currentRoute === '/contact'"
              >Me Contacter</a
            >
          </ng-template>
        </li>
      </ul>
    </div>
    <a
      class="footer-cta"
      *ngIf="isDesktopNav; else ctaLink"
      (click)="goToBand('contact')"
      style="cursor: pointer"
    >
      <span class="footer-arrow">
        <img src="/svg/arrow.svg" alt="flèche" />
      </span>
      <span>Travailler ensemble</span>
    </a>
    <ng-template #ctaLink>
      <a class="footer-cta" [routerLink]="['/contact']">
        <span class="footer-arrow">
          <img src="/svg/arrow.svg" alt="flèche" />
        </span>
        <span>Travailler ensemble</span>
      </a>
    </ng-template>
  </nav>
  <div class="footer-section footer-contact">
    <span>Adam: 0678252910</span>
    <span>adam.hemamou.pro&#64;gmail.com</span>
  </div>
  <div class="footer-section footer-links">
    <a
      href="https://www.linkedin.com/in/adam-hemamou/"
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >
    <a href="https://github.com/Adam-Hemamou" target="_blank" rel="noopener"
      >Github</a
    >
  </div>
  <div class="footer-section footer-thanks">Merci Beaucoup</div>
</footer>
