<div class="menu">
  <div
    class="logo"
    *ngIf="isDesktopNav"
    (click)="onMenuItemClick()"
    style="cursor: pointer"
  >
    <div class="title">
      <div class="black-bgc">
        <p class="surname">ADAM</p>
      </div>
      <div class="white-bgc">
        <p class="name">HEMAMOU</p>
      </div>
    </div>
    <div class="under-name">
      <p class="developper">DEVELOPPER</p>
      <div class="arrow-container">
        <span class="arrow">
          <img src="/svg/arrow.svg" alt="fleche" />
        </span>
        <span class="arrow-hover">
          <img src="/svg/arrow.svg" alt="fleche" />
        </span>
      </div>
    </div>
  </div>

  <!-- Mobile : navigation directe -->
  <div
    class="logo"
    *ngIf="!isDesktopNav"
    [routerLink]="['/']"
    (click)="closeMenu()"
    style="cursor: pointer"
  >
    <div class="title">
      <div class="black-bgc">
        <p class="surname">ADAM</p>
      </div>
      <div class="white-bgc">
        <p class="name">HEMAMOU</p>
      </div>
    </div>
    <div class="under-name">
      <p class="developper">DEVELOPPER</p>
      <div class="arrow-container">
        <span class="arrow">
          <img
            src="/svg/arrow.svg"
            alt="fleche"
            class="Icône flèche - Accueil"
          />
        </span>
        <span class="arrow-hover">
          <img
            src="/svg/arrow.svg"
            alt="fleche"
            class="Icône flèche - Accueil"
          />
        </span>
      </div>
    </div>
  </div>

  <div class="nav" (click)="toggleMenu()">
    <img src="/svg/menu.svg" alt="Icône menu" />
    <p>MENU</p>
  </div>
</div>

<div class="menu-overlay" *ngIf="isOpen" (click)="closeMenu()"></div>
<nav
  class="menu-drawer"
  [class.open]="isOpen"
  (click)="$event.stopPropagation()"
>
  <ul>
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.link" (click)="closeMenu()" class="menu-link">
        <span class="menu-text">{{ item.label }}</span>
        <span class="menu-icon">
          <img src="/svg/arrow.svg" alt="Icône flèche de navigation" />
        </span>
      </a>
    </li>
  </ul>
</nav>
