/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "swiper/swiper-bundle.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #bff000;
  /* #201e1f */
  --color-lightdark: #111;
  --color-dark: #000;
}

.neon-svg {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #bff000)
    drop-shadow(0px 20px 2px #bff000);
}
.white-neon-svg {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #bff000)
    drop-shadow(-20px -20px 1px #bff000);
}
.white-neon1-svg {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #bff000);
}

.hero-title {
  position: relative;
  width: 100%;
  height: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: "Oswald", sans-serif;
  line-height: 1;
  cursor: default;
  margin-top: 85px;
}

.dev-title {
  position: absolute;
  top: 0.5rem;
  font-size: 21vw;
  color: var(--color-dark);
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Bebas Neue", sans-serif;
  z-index: 2;
  white-space: nowrap;
}

.web-title {
  position: absolute;
  left: 45%;
  top: 4.5rem;
  transform: translateX(-50%);
  font-size: 30vw;
  color: var(--color-primary);
  font-weight: 900;
  /* line-height: 0.9; */
  margin-left: auto;
  margin-top: -0.3em;
  margin-right: 0.2em;
  z-index: 1;

  -webkit-text-stroke: 1px var(--color-dark);
  /* text-stroke: 0.5px var(--color-dark); */
}

.hero-info {
  position: absolute;
  top: 8.5rem;
  left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  margin-left: 4vw;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

.hero-info > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.portfolio-title {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 0;
}

.portfolio-name {
  font-size: 0.7rem;
  color: #222;
  line-height: 1;
  margin-top: 0.2em;
}

.open-to-work {
  display: flex;
  align-items: center;
  background: var(--color-dark);
  color: #fff;
  border-radius: 2rem;
  padding: 0.3em 1em 0.3em 0.5em;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.open-to-work .dot {
  width: 0.5em;
  height: 0.5em;
  background: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.7em;
}

.home-band {
  margin-top: 3em;
}

@media (min-width: 375px) {
  .hero-title {
    margin-top: 88px;
  }
  .dev-title {
    top: 0.5rem;
  }
  .web-title {
    top: 5.4rem;
  }
  .hero-info {
    top: 9.4rem;
  }
  .portfolio-title {
    font-size: 1rem;
  }
  .portfolio-name {
    margin-top: 0.1em;
    font-size: 0.9rem;
  }
  .open-to-work {
    font-size: 0.85rem;
    margin-top: 0.4rem;
    padding: 0.4em 1.2em 0.4em 0.7em;
  }
  .home-band {
    margin-top: 4em;
  }
}

@media (min-width: 390px) {
  .hero-title {
    margin-top: 90px;
  }
  .hero-info {
    top: 9.7rem;
  }

  .open-to-work {
    font-size: 0.88rem;
    margin-top: 0.35em;
  }
}

@media (min-width: 414px) {
  .hero-title {
    height: 12rem;

    margin-top: 100px;
  }
  .dev-title {
    font-size: 21.5vw;
    top: 1rem;
  }
  .web-title {
    font-size: 31vw;
    top: 6.5rem;
  }
  .hero-info {
    top: 11.35rem;
  }
  .portfolio-title {
    font-size: 1.1rem;
  }
  .portfolio-name {
    font-size: 1rem;
  }
  .open-to-work {
    font-size: 0.92rem;
    margin-top: 0.5rem;
  }

  .home-band {
    margin-top: 2.7em;
  }
}

@media (min-width: 768px) {
  .hero-title {
    height: 20rem;
    margin-top: 130px;
  }
  .dev-title {
    font-size: 21.5vw;
    top: 2.5rem;
  }
  .web-title {
    font-size: 27vw;
    left: 52%;
    top: 12.2rem;
  }
  .hero-info {
    top: 19.2rem;
    left: 0;
  }
  .portfolio-title {
    font-size: 1.8rem;
  }
  .portfolio-name {
    font-size: 1.6rem;
  }
  .open-to-work {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    padding: 0.5em 1.3em 0.5em 1.1em;
  }

  .home-band {
    margin-top: 6em;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    overflow-y: scroll;
  }
  .hero-parent {
    margin-right: 240px;
  }
  .hero-title {
    height: 400px;
    margin-top: 1rem;
  }
  .dev-title {
    font-size: 16.5vw;
    padding-top: 0.7rem;
  }
  .web-title {
    font-size: 21.5vw;
    top: 13.5rem;
    left: 49.9%;
    -webkit-text-stroke: 1.2px var(--color-dark);
  }
  .hero-info {
    top: 21.3rem;
    margin-left: 3.2vw;
    margin-top: 0;
  }

  .open-to-work {
    margin-top: 0.7rem;
    padding: 0.5em 1.3em 0.5em 1.1em;
  }
  .home-band {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  html {
    overflow-y: scroll;
  }
  .hero-parent {
    margin-right: 240px;
  }
  .hero-title {
    height: 532px;
    margin-top: 1rem;
  }
  .dev-title {
    font-size: 17.7vw;
  }
  .web-title {
    font-size: 24.8vw;
    top: 16.4rem;
    left: 46.5%;
    -webkit-text-stroke: 1.8px var(--color-dark);
  }
  .hero-info {
    top: 26.5rem;
    margin-left: 3vw;
    margin-top: 0;
  }
  .portfolio-title {
    font-size: 2.2rem;
  }
  .portfolio-name {
    font-size: 1.9rem;
  }
  .open-to-work {
    font-size: 1.8rem;
    margin-top: 0.85rem;
    padding: 0.55em 1.5em 0.59em 1.3em;
  }

  .home-band {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .dev-title {
    top: 3rem;
    font-size: 17.5vw;
  }
  .web-title {
    font-size: 20vw;
    top: 19rem;
    left: 56%;
  }
  .hero-info {
    top: 28.5rem;
    margin-left: 4.5vw;
  }

  .portfolio-title {
    font-size: 2.5rem;
  }
  .portfolio-name {
    font-size: 2rem;
  }
  .open-to-work {
    font-size: 1.8rem;
  }
}
