.activity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  padding: 2em 1.5em 1.5em 1.5em;
  background: #fff;
  text-align: center;
  margin: 2em auto;
  position: relative;
  width: 300px;
  min-height: 320px;
  max-width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid var(--color-primary);
    z-index: -1;
    pointer-events: none;
  }
}

.activity-card__img {
  width: 80px;
  margin-bottom: 1em;
}

.activity-card__title {
  display: inline-block;
  background: var(--color-primary);
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 0.9rem;
  padding: 0.55em 1em;
  border-radius: 2px;
  letter-spacing: 1px;
}

.activity-card__desc {
  color: var(--color-dark);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin-top: 1em;
  line-height: 1.25;
  letter-spacing: 1px;
}

@media (min-width: 375px) {
  .activity-card {
    width: 320px;
    min-height: 345px;
  }
  .activity-card__img {
    width: 90px;
    margin-bottom: 1.5em;
  }
  .activity-card__title {
    font-size: 1rem;
  }
  .activity-card__desc {
    font-size: 1rem;
  }
}

@media (min-width: 414px) {
  .activity-card {
    width: 340px;
    min-height: 372px;
  }
  .activity-card__img {
    width: 100px;
  }
  .activity-card__title {
    font-size: 1.1rem;
  }
  .activity-card__desc {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .activity-card {
    width: 320px;
    min-height: 345px;
  }
  .activity-card__img {
    width: 90px;
    margin-bottom: 1.5em;
  }
  .activity-card__title {
    font-size: 1rem;
  }
  .activity-card__desc {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .activity-card {
    width: 407px;
    min-height: 427px;
  }
  .activity-card__img {
    width: 120px;
    margin-bottom: 1.5em;
  }
  .activity-card__title {
    font-size: 1.3rem;
  }
  .activity-card__desc {
    font-size: 1.3rem;
  }
}
